.wrapperprofile {
	font-family: 'Titillium Web';
	width: 70%;
	margin: 0 auto;
	a {
		text-decoration: none;
	}
}

.mesderniersarticlestitle {
	text-align: center;
	padding: 0.4em;
	text-decoration: none;
	border: 1px solid silver;
	&:hover {
		color: orange;
		transition: 0.3s;

	}
}

.profilelinks {
	display: flex;
	li {
		margin-right: 1em;
		margin-top: 1em;
		padding-right: 1em;
		border-right: 1px solid black;
	}
}
